$red: #ff3b33;
$red-light: #ffcbc9;
$red-dark: #c51c15;
$blue: #163288;
$blue-bright: #0c34ad;
$blue-light: #d0d8ef;
$blue-dark: #0c1c4f;
$yellow-star: #ffd600;
$white: #ffffff;
$black: #000000;
$black-10: #f4f4f4;
$black-15: #e8e8e8;
$black-20: #c6c6c6;
$black-30: #aeaeb2;
$black-40: #8e8e93;
$black-50: #636366;
$black-60: #48484a;
$black-70: #363639;
$black-80: #2c2c2e;
$black-90: #1c1c1e;
$dark-gray: #424242;
$gray: #848484;
$light-gray: #e6e6e6;
$background: #e5e5e5;
$discord-zindex: 8;
$header-zindex: 9;
$component-zindex: 10;
$modal-zindex: 10;
$connected-wallet-zindex: 99999;
$mobile-menu-zindex: 99998;
$loading-zindex: 999999;
$modal-zindex: 9999999;
$wrong-network-zindex: 99999999;

.opacity10 {
  opacity: 10%;
}

.opacity20 {
  opacity: 20%;
}

.opacity30 {
  opacity: 30%;
}

.opacity40 {
  opacity: 40%;
}

.opacity50 {
  opacity: 50%;
}

.opacity60 {
  opacity: 60%;
}

.opacity70 {
  opacity: 70%;
}

.opacity80 {
  opacity: 80%;
}

.opacity90 {
  opacity: 90%;
}
